# Created by .ignore support plugin (hsz.mobi)

.idea/
__pycache__/
chains/
samynet.log
testing1.py
testing2.py
main.py
_README.md

Denis.json
William.json
Matt.json
Owner.json
Beneficiary.json
User.json